<footer class="center-item" id="footer">
    <img id="logo" src="/icons/true-north-logo.png" alt="logo">
    <div id="footer-separator">
        <div>
            <p>Powered by True North Productions</p>
        </div>
        <div>
            <p style="margin: -10px;">&copy; 2026 Book Tracker App</p>

            <p>Created by Wendy Homerding</p>
        </div>
    </div>
</footer>
</body>

</html>