<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Tracker</title>
    <link rel="stylesheet" href="/styles/main.css">

</head>

<body>
    <div class="header">

        <div class="logo-and-title">

            <a href="/"><img src="/icons/boot-print.png" alt="Book Tracker Logo" height="80px"> </a>
            <a href="/">
                <h1>Book Tracker</h1>
            </a>

        </div>
        <form action="/search" method="get">
            <label for="query">Search:</label>
            <input type="text" id="query" name="book">
            <input style="color: #DCD7C9;" type="submit" value="Find Books">
        </form>
    </div>