<%- include ("partials/header.ejs") %>

    <body>
        <h1>Book Tracker</h1>
        <form action="/search" method="get">
            <label for="query">Search:</label>
            <input type="text" id="query" name="book">

            <input type="submit" value="Submit Search">
        </form>
    </body>

    </html>