/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3F4E4F;
    color: #DCD7C9;
    align-items: center;
}

.logo-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #DCD7C9;
}

h2 {
    padding-left: 81px;
    color: #3F4E4F;
}



.library-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    grid-gap: 5px;
}


.card {
    text-align: center;
    Display: flex;
    Justify-content: space-between;
    Align-items: center;
    flex-direction: column;
}

.book-cover {
    max-width: 250px;
    height: auto;
    margin-top: 5px;
}


button {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #3F4E4F;
    color: #DCD7C9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #f1f5f6;
}

#svg {
    fill: #DCD7C9;
}

.book-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-display {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}