/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #3F4E4F;
    color: #DCD7C9;
    align-items: center;
    padding: 0 2%;
    font-family: fantasy;
}

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }

    .library-list {
        display: flex;
        flex-flow: column;
    }

    .book-cover {
        max-width: 150px;
        height: auto;
        margin-top: 5px;
    }
}

.logo-and-title {
    display: flex;
    flex-direction: row;
    align-items: center;
}


body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #DCD7C9;
}

h2 {
    padding-left: 81px;
    color: #3F4E4F;
}



.library-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(27rem, 1fr));
    grid-gap: 5px;
}


.card {
    text-align: center;
    Display: flex;
    Justify-content: space-between;
    Align-items: center;
    flex-direction: column;
}

.book-cover {
    max-width: 250px;
    height: auto;
    margin-top: 5px;
}


button {
    margin-top: 10px;
    background-color: #3F4E4F;
    color: #DCD7C9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #f1f5f6;
}

#svg {
    fill: #3F4E4F;
}

.book-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rating-display {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.editable.summary {
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-direction: column;
}

.center-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.note-display {
    margin: 2% 20%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.add-to-library {
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #3F4E4F;
    color: #DCD7C9;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button.note {
    padding-bottom: 25px;
}

a,
a:visited {
    color: #DCD7C9;
    text-decoration: none;
}